{% extends 'Admin.html.twig' %}

{% block body %}
    <body>

        <div class="content mt-3">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <strong class="card-title">Categorie Table</strong>
                            </div>
                            <div class="card-body">
                                <table id="bootstrap-data-table" class="table table-striped table-bordered">
                                    <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Categories</th>
                                        <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for category in categories %}
                                        <tr>
                                            <td><a href="{{ path('categories_show', { 'id': category.id }) }}">{{ category.id }}</a></td>
                                            <td>{{ category.libelle }}</td>
                                            <td>
                                                <ul>
                                                    <p style="text-align: center">
                                                        <a href="{{ path('categories_show', { 'id': category.id }) }}">Voir</a>
                                                    </p>
                                                    <p style="text-align: center">
                                                        <a href="{{ path('categories_edit', { 'id': category.id }) }}">Modifier</a>
                                                    </p>
                                                </ul>
                                            </td>
                                        </tr>
                                    {% endfor %}

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </body>
{% endblock %}
